$black: #0a0716;
$darkblack: #222222;
$gray: #f2f4ea;
$whitesmoke: #f5f5f5;
$darksmoke: #b2b2b2;
$blue: #1f55a5;
$lightBlue: #87cefa;
$white: #ffffff;
$lightgray: #dbdbdb;
$darkblue: #446689;
$backwhite: #efefef;
$cream: #cfcfcf;
$lightcream: #ccc;
$lightbrown: #555;
$brown: #888;
$darkgray: #333;
$copyright: #999;

$navbar-breakpoint: 1200px;
$navbar-item-img-max-height: 2rem;
$navbar-height: 4rem;

// ページの横幅
.page-content {
  width: 80%;
  margin: 0 auto;
}
/* スマホの場合は幅を広くする */
@media screen and (max-width: 400px) {
  .page-content {
    width: 90%;
    margin: 0 auto;
  }
}

