.page-content {
  width: 65%;
}
.sub {
  margin-top: 20px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 600px) {
    flex-flow: column;
    align-items: baseline;
  }
}
.date {
  font-size: 14px;
  margin-right: 20px;
  @media screen and (max-width: 600px) {
    margin-bottom: 0.5rem;
  }
}
.tag {
  font-size: 14px;
}
.back a {
  color: $black;
}
.main {
  margin-top: 20px;
  font-size: 16px;
  /deep/ h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
  }
  /deep/ h2 {
    border-bottom: solid 2px $black;
    margin-bottom: 10px;
    font-size: 28px;
  }
  /deep/ h3 {
    position: relative;
    font-size: 22px;
    padding: 1rem 0 1rem 1rem;
    border-left: 2px solid $lightcream;
  }
  /deep/ img {
    display: block;
    margin: 0 auto;
  }
  /deep/ blockquote {
    position: relative;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 15px;
    margin: 30px;
  }
  /deep/ blockquote:before {
    position: absolute;
    background-color: $white;
    color: $black;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f10d';
    line-height: 1;
    text-align: center;
    top: -20px;
    left: -10px;
    padding: 10px;
    font-size: 15px;
  }
  /deep/ blockquote:after {
    position: absolute;
    background-color: $white;
    color: $black;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f10e';
    line-height: 1;
    text-align: center;
    bottom: -20px;
    right: -10px;
    padding: 10px;
    font-size: 15px;
  }
  /deep/ blockquote cite {
    display: block;
    padding-right: 30px;
    font-size: 0.8rem;
    text-align: right;
    color: $black;
  }
  /deep/ ol li {
    margin-left: 20px;
  }
  /deep/ a {
    word-wrap: break-word;
  }
}
/deep/ .news-image img {
  display: none;
}
/deep/ .news-title {
  height: 6rem;
}
.back {
  margin-top: 30px;
}
.back a {
  border-top: solid 2px $backwhite;
  padding-top: 10%;
  display: block;
  text-align: right;
}
.back i {
  margin-right: 5px;
}
.back span {
  margin-left: 20px;
}
/deep/ div .btn-area {
  display: none;
}
/deep/ div .sub-header-container {
  margin-top: 0px;
  margin-left: 0px;
}
@media screen and (max-width: 600px) {
  .page-content {
    width: 85%;
  }
  /deep/ blockquote a {
    word-break: break-all;
  }
  .main {
    /deep/ blockquote {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
.info-color {
  color: $white;
  background-color: $black;
}
.categories-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  span:not(:last-child) {
    margin-bottom: 0.1rem;
    margin-right: 1rem;
  }
}
